<a href="https://colab.research.google.com/github/citranurr21/praktikum-preprocessing/blob/main/4111421065_Citra_Nur_Rahmadhani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. MEMUAT DATA**

IMPORT LIBRARY PANDAS & MEMUAT DATASET DARI FILE CSV KE DALAM DATAFRAME

In [1]:
import pandas as pd
import numpy as np
#memuat data dari file csv
df = pd.read_csv('movie_sample_dataset.csv')

**2. MEMERIKSA DATA**

2.1 MENAMPILKAN BEBERAPA BARIS PERTAMA DARI DATASET UNTUK MEMAHAMI STRUKTUR DATA

In [2]:
#menampilkan 5 baris pertama dari dataset
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

2.2 MEMERIKSA INFORMASI UMUM TENTANG DATASET, TERMASUK TIPE DATA DAN NILAI YANG HILANG

In [3]:
#memeriksa informasi umum tentang dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB

In [4]:
#memeriksa tipe data dan nilai yang hilang
print(df.isnull().sum())

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

**3. MEMBERSIHKAN DATA**

3.1 MENGHAPUS BARIS YANG MEMILIKI NILAI NaN DI KOLOM PENTING SEPERTI GROSS DAN BUDGET

In [5]:
#menghapus baris yang memiliki nilai NaN
df.dropna(subset=['gross', 'budget'], inplace=True)

3.2 MENGATASI NILAI YANG TIDAK KONSISTEN ATAU KESALAHAN PENULISAN DI KOLOM, SEPERTI PERBEDAAN ANTARA "Color" DAN "color"

In [6]:
#mengatasi nilai yang tidak konsisten atau kesalahan pada penulisan
df['color'] = df['color'].str.lower()
df['color'].unique()

array(['color', 'color ', nan, ' black and white'], dtype=object)

3.3 MENGUBAH ATAU MENGHAPUS NILAI-NILAI YANG TIDAK STANDAR, SEPERTI NILAI NEGATIF ATAU "N/A"

In [7]:
#mencari nilai negatif
for col in df.select_dtypes(include=["int", "float"]).columns:
    print(f"\nKolom {col}:")
    print(df[df[col] < 0])

Kolom duration:
   color  director_name  duration        gross             genres  \
6  color  Peter Jackson       -50  303001229.0  Adventure|Fantasy

                         movie_title  title_year language country  \
6  The Hobbit: An Unexpected Journey        2012  English     USA

        budget  imdb_score                                 actors  \
6  180000000.0         7.9  Aidan Turner,Adam Brown,James Nesbitt

   movie_facebook_likes
6                166000

Kolom gross:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom title_year:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom budget:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom imdb_score:
    color        director_name  duration        gross  \
10    NaN           Tom Tykwer       172   27098580.0
85  color  Angelina Jolie Pitt       137  115603980.0

                       genres  movie_title  title_year language  country  \
10               Drama|Sci-Fi  Cloud Atlas        2012  English  Germany
85  Biography|Drama|Sport|War     Unbroken        2014  English      USA

         budget  imdb_score                                     actors  \
10  102000000.0        -7.5       Tom Hanks,Jim Sturgess,Jim Broadbent
85   65000000.0        -1.2  Finn Wittrock,Jack O'Connell,Alex Russell

    movie_facebook_likes
10                124000
85                 35000

Kolom movie_facebook_likes:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

In [8]:
#menghilangkan nilai negatif
df['duration'] = df['duration'].apply(lambda x: abs(x) if x < 0 else x)
df['imdb_score'] = df['imdb_score'].apply(lambda x: abs(x) if x < 0 else x)

In [9]:
#mencari nilai N/A
for col in df.select_dtypes(include=["int", "float"]).columns:
    print(f"\nKolom {col}:")
    print(df[df[col].isna()])

Kolom duration:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom gross:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom title_year:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom budget:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom imdb_score:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

Kolom movie_facebook_likes:
Empty DataFrame
Columns: [color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, movie_facebook_likes]
Index: []

In [10]:
#menghilangkan baris dengan N/A
df.dropna(inplace=True)

In [11]:
#mengkoreksi data type tiap kolom
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

**4. TRANSFORMASI DATA**

4.1 MENGUBAH TIPE KOLOM DATA MENJADI TIPE DATA YANG SESUAI (KONVERSI BUDGET DAN GROSS ---> NUMERIK)

In [12]:
#menghapus karakter non-numerik dan mengubah tipe data menjadi integer
df['budget'] = df['budget'].astype(str).str.replace('[^0-9]', '', regex=True).astype(int)
df['gross'] = df['gross'].astype(str).str.replace('[^0-9]', '', regex=True).astype(int)

In [13]:
#mengkoreksi kembali data type untuk gross dan budget apakah sudah berubah atau belum
print(df['budget'].dtype)
print(df['gross'].dtype)

int64
int64

In [14]:
#mengkoreksi ulang data type setiap kolom
df.dtypes

color                    object
director_name            object
duration                  int64
gross                     int64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                    int64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

4.2 MEMISAHKAN GENRE YANG BERGABUNG DALAM SATU KOLOM MENJADI BEBERAPA KOLOM TERPISAH

In [15]:
df['genres'] = df['genres'].str.split('|')
df = df.explode('genres')
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,color,Martin Scorsese,240,1168667270,Biography,The Wolf of Wall Street,2013,English,USA,1000000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
0,color,Martin Scorsese,240,1168667270,Comedy,The Wolf of Wall Street,2013,English,USA,1000000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
0,color,Martin Scorsese,240,1168667270,Crime,The Wolf of Wall Street,2013,English,USA,1000000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
0,color,Martin Scorsese,240,1168667270,Drama,The Wolf of Wall Street,2013,English,USA,1000000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,color,Shane Black,195,4089922720,Action,Iron Man 3,2013,English,USA,2000000000,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000

4.3 NORMALISASI TEKS UNTUK MEMASTIKAN KONSISTENSI (UBAH TEKS ---> HURUF KECIL)

In [16]:
#memilih list kolom yang akan dilakukan normalisasi
kolom = ['color', 'genres', 'movie_title', 'language', 'country', 'actors']

In [17]:
#melakukan looping untuk mengubah setiap kolom yang sudah di normalisasi menjadi huruf kapital
for col in kolom:
    df[col] = df[col].str.upper()

**5. PENYIMPANAN DATA**

5.1 SIMPAN DATA YANG TELAH DI PROSES KE DALAM FILE CSV BARU DENGAN NAMA movie_dataset_cleaned.csv

In [18]:
df.to_csv('movie_dataset_cleaned.csv', index=False)